registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
strict-ssl=false
fetch-timeout=120000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=180000
fetch-retries=5
always-auth=false
ignore-scripts=false
legacy-peer-deps=true
save-exact=false
